* {
    font-family: 'Montserrat', sans-serif;
}

header {
    position: relative;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 70%, rgba(255,255,255,1)), url(../../dist/bg/bg_contracts.png) center center/cover no-repeat;
    min-height: 800px;
}
.nav {
    position: fixed; 
    width: 100%; 
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.9);
    height: 50px;
}

.menu {
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:link {
    color: rgba(255, 255, 255, 0.6);
}

a:visited {
    color: rgba(255, 255, 255, 0.6);
}

a:hover {
    color: rgba(255, 255, 255);
}

.promo {
    padding-top: 200px;
    text-align: center;
    color: rgba(225, 225, 225, 1.0);
}

h1.promo_main {
    font-weight: 700;
    text-transform: uppercase;
}

.promo_text {
    font-size: 17px;
    padding-top: 20px;
    font-weight: 700;
}

.reasons {
    position: relative;
    margin-top: -300px;
    z-index: 2;
    justify-content: center;
}

.reasons .container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}

h2.reasons_label {
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons_block {
    height: 230px;
    width: 530px;
    padding: 15px;
    display: flex;
    text-align: center;
}

.reasons_icon img {
    height: 70px;
    width: 70px;
}

.reasons_desc {
    margin-left: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.reasons_desc span {
    text-transform: uppercase;
    font-weight: 700;
}

.reasons_desc h4 {
    text-transform: uppercase;
    font-weight: 400;
}

.reasons_type {
    padding: 20px;
    height: 600px;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
}

.reasons_type h4 {
    text-transform: uppercase;
    font-weight: 400;
}

.reasons_type_list {
    line-height: 30px;
    margin-left: 10px;
    padding: 20px;
    text-align: left;
}

.specialist_photo .specialist_desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.specialist_photo {
    display: flex;
    align-items: center;
    height: 100%;
}

.specialist_desc {
    display: flex;
    height: 100%;
    align-items: center;
}

.specialist_desc p {
    text-align: center;
    margin-bottom: 0px;
}

.specialist_photo img {
    height: 500px;
    width: 500px;
    border: 5px solid black;
    border-radius: 50%;
}

.contacts_type_wrapper {
    display: flex;
    justify-content: center;
}

.contacts_type {
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    height: 300px;
}

.contacts_type_logo {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts_type_desc {
    text-align: center;
    margin-top: 20px;
}

.contacts_type_desc h4 {
    text-transform: uppercase;
    font-weight: 400;
}

.contacts_type p {
    text-align: center;
}

.contacts_type span {
    text-transform: uppercase;
    font-weight: 700;
}

.cause {
    margin-top: 50px;
    justify-content: center;
}

.cause_label {
    justify-content: center;
    padding: 15px;
    font-weight: 400;
    text-align: center;
    color: white;
    background-color: rgba(100, 120, 146, 1);
    border-radius: 50px;
}

.cause .cause_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.cause .cause_logo img {
    height: 300px;
    width: 300px;
}

.cause_list {
    margin-top: 50px;
    padding-right: 30px;
    text-align: left;
    list-style: none;
}

.cause_list li {
    margin-top: 10px;
    background: url('../icons/next.png') center left no-repeat;
    min-height: 40px;
    display: flex;
    align-items: center;
}

.cause_list li p {
    margin-bottom: 0px;
    padding-left: 60px;
}

.services {
    margin-top: 80px;
    background: url(../../dist/bg/bg_pen.jpg) center center/cover no-repeat;
    min-height: 300px;
}

.services_bg_blackout {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 300px;
}

.services_label {
    margin-top: 50px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.services_wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    vertical-align: top;
}

.services_desc {
    margin-top: 10px;
    text-align: center;
    color: white;
}

.services_block {
    justify-content: center;
    align-items: center;
}

.services_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services_block img {
    height: 100px;
    width: 100px;
}

footer {
    height: 100px;
}

.contacts {
    padding-top: 27px;
}

.instagram, .phone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone_number, .instagram_link {
    margin-left: 10px;
    padding: 10px;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 0px;
}

.phone_logo, .instagram_logo, img {
    height: 40px;
    width: 40px;
}